server:
  port: 8123

spring:
  redis:
    database: 0
    host: 112.74.161.0
    port: 6379
    password: 123456
  datasource:
    username: root
    password: root
    url: jdbc:mysql://112.74.161.0:3306/ic_database?serverTimezone=CTT&characterEncoding=utf8&useUnicode=true&useSSL=false&allowMultiQueries=true&nullCatalogMeansCurrent=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource

mybatis-plus:
  mapper-locations: classpath*:mapper/**/*Mapper.xml
  type-aliases-package: com.example.**.entity


eureka:
  client:
    defaultZone: http://112.74.161.0:8761/eureka
  instance:
    lease-expiration-duration-in-seconds: 10
    lease-renewal-interval-in-seconds: 1

# token配置
token:
  # 令牌自定义标识
  header: token
  # 令牌密钥
  secret: abcdefghijklmnopqrstuvwxyz
  # 令牌有效期（默认30分钟）
  expireTime: 30