<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.security.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.security.entity.SysResource">
        <result column="id" property="id" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="parent_id" property="parentId" />
        <result column="resource_name" property="resourceName" />
        <result column="resource_url" property="resourceUrl" />
        <result column="resource_type" property="resourceType" />
        <result column="resources_perms" property="resourcesPerms" />
        <result column="resource_open" property="resourceOpen" />
        <result column="resource_status" property="resourceStatus" />
        <result column="resource_icon" property="resourceIcon" />
        <result column="resource_desc" property="resourceDesc" />
        <result column="del_state" property="delState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user,
        create_time,
        update_user,
        update_time,
        parent_id, resource_name, resource_url, resource_type, resource_open, resource_status, resource_icon, resource_desc, del_state
    </sql>
    <select id="selectResourceByUserId" resultType="java.lang.String">
        select distinct res.resources_perms
        from t_resource res
                 left join t_role_resource rm on res.id = rm.resource_id
                 left join t_user_role ur on rm.role_id = ur.role_id
                 left join t_role r on r.id = ur.role_id
        where res.resource_status = 0
          and r.role_status = 0
          and ur.user_id = #{id}
    </select>

</mapper>
