<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.security.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.security.entity.Role">
        <result column="id" property="id" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="role_name" property="roleName" />
        <result column="role_code" property="roleCode" />
        <result column="role_desc" property="roleDesc" />
        <result column="role_status" property="roleStatus" />
        <result column="del_state" property="delState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_user,
        create_time,
        update_user,
        update_time,
        role_name, role_code, role_desc, role_status, del_state
    </sql>
    <sql id="RoleSqlVO">
          select distinct r.id,
                        r.create_user,
                        r.create_time,
                        r.update_user,
                        r.update_time,
                        r.role_name,
                        r.role_code,
                        r.role_desc,
                        r.role_status,
                        r.del_state
        from t_role r
                 left join t_user_role ur on ur.role_id = r.id
                 left join t_user u on u.id = ur.user_id
--               left join sys_dept d on u.dept_id = d.dept_id
    </sql>
    <select id="selectRolePermissionByUserId" resultMap="BaseResultMap">
        <include refid="RoleSqlVO"/>
        where del_state = '0' and u.id = #{id}
    </select>

</mapper>
